    #nav-bar {
    margin: auto;
    padding: 0% 5% 0%;
    }
    .nav-link {
    color: #b21212 !important;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.4rem;
    padding-left: 2ch !important;
    }
    .nav-link:hover, .nav-link:focus {
    color: #2e0101 !important;
    }
    .nav-link.active {
      color: rgb(0, 0, 0) !important;
    }
    .navbar-brand-img {
    max-height: 5rem;
    width: auto;
    }
    .navbar-collapse {
    text-align: end;
    }

/*Contact Us CSS:*/

#navbar {
  background: #ffffff;
}

#body-contact {
	background: #517084;
  border-top: 5px solid black;
  border-bottom: 5px solid black;
}

.cont-text1 {
  text-align: center;
  font-size: 600%;
  color: white;
  text-shadow: 4px 4px #b21212;
}

.cont-text2 {
  text-align: center;
  font-size: 350%;
  color: white;
  text-shadow: 3px 3px #b21212;
}

.line {
	color: white;
  width: 85%;
  margin: auto;
}

#text-contact {
	margin: auto;
}

#footer {
	background: #192e3d;
  border-bottom: 5px solid black;
	text-align: center;
	color: #dd3a3a;
  overflow: auto;
  width: 100%;
}

#footer table {
	margin: auto;
	width: 90%;
  color: white;
}

#footer td {
	padding-bottom: 2%;
  border-left: solid 1px #ffffff;
	border-right: solid 1px #ffffff;
	color: #bdbbba;
  text-align: center;
}

#form-contact {
  margin: auto;
}

form#payment {
  background: #192e3d;
	color: white;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
	margin: auto;
  counter-reset: fieldsets;
  padding: 20px;
  width: 85%;
}

form#payment ol {
	padding-left: 0px;
}

form#payment fieldset {
  border: none;
  margin-bottom: 10px;
}

form#payment fieldset:last-of-type {
  margin-bottom: 0px;
}

form#payment legend {
  color: #dd3a3a;
	text-align: center;
  font-size: 25px;
  font-weight: bold;
  padding-bottom: 10px;
  text-shadow: 0 1px 1px #b21212;
}

form#payment ol li {
  background: #517084;
  background: rgba(81, 112, 132, .3);
  border-color: #e3ebc3;
  border-color: rgba(255, 255, 255, .6);
  border-style: solid;
  border-width: 2px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  line-height: 30px;
  list-style: none;
  padding: 5px 10px;
  margin-bottom: 2px;
}

form#payment label {
  font-size: 13px;
  width: 50px;
}

form#payment input, form#payment textarea {
  background: #ffffff;
  border: none;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  font: italic 13px Cambria, "Hoefler Text", "Liveration Serif", Times, "Times New Roman", serif;
  outline: none;
  padding: 5px;
  width: 90%;
  margin: auto;
  margin-left: 1%;
}

form#payment input:not([type=submit]):focus, form#payment textarea:focus {
  background: #eaeaea;
}

form#payment button {
  background: #333b3f;
  border: none;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  color: white;
  display: block;
  font: 18px Cambria, "Hoefler Text", "Liveration Serif", Times, "Times New Roman", serif;
  letter-spacing: 1px;
  margin: auto;
  padding: 7px 25px;
  text-shadow: 0 1px 1px #000000;
  text-transform: uppercase;
}

form#payment button:hover {
  background: #b21212;
  cursor: pointer;
}

/* Meet the Team CSS */
#about-title {
  color: #dd3a3a;
  font-weight: bold;
  text-shadow: 0 1px 1px #b21212;
  text-align: center;
}

#about-major {
  color: white;
  text-align: center;
}

ul.skills {
  list-style: circle;
  color: rgb(204, 203, 203);
  padding-left: 8ch;
}

#skill {
  color: rgb(204, 203, 203);
  padding-left: 5ch;
}

.logo-main {
  width: auto;
}

.goal {
  color: #dd3a3a;
	text-align: center;
  font-size: 35px;
  font-weight: bold;
  padding-top: 25px;
  text-shadow: 0 1px 1px #b21212;
}

.goal-sub{
  color: white;
	text-align: center;
  font-size: 20px;
  font-weight: bold;
  padding-top: 0px;
  text-shadow: 0 1px 1px #b21212;
}